<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Apply for an Absentee Ballot (Georgia)
        </h1>

        <p class="subheading font-weight-regular">
          Please fill out the following information.
        </p>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
        row
      >
        <v-form>
            <v-col
                :md="12"
            >
                <v-select
                    :items="election_dates"
                    v-model="election_date"
                    label="Election Date"
                    required
                    :rules="[() => validateStr(election_date) || 'Required field']"
                ></v-select>
            </v-col>
            <v-layout row wrap>
                <v-col
                    :md="3"
                >
                    <v-text-field
                        class="px-3"
                        label="First Name"
                        v-model="first_name"
                        required
                        :rules="[() => validateStr(first_name) || 'Required field']"
                    ></v-text-field>
                </v-col>
                <v-col
                    :md="3"
                >
                    <v-text-field
                        class="px-3"
                        label="Middle Name"
                        v-model="middle_name"
                    ></v-text-field>
                </v-col>
                <v-col
                    :md="3"
                >
                    <v-text-field
                        class="px-3"
                        label="Last Name"
                        v-model="last_name"
                        required
                        :rules="[() => validateStr(last_name) || 'Required field']"
                    ></v-text-field>
                </v-col>
                <v-col
                    :md="3"
                >
                    <v-text-field
                        class="px-3"
                        label="Suffix"
                        v-model="suffix"
                    ></v-text-field>
                </v-col>
            </v-layout>
            <v-col class="mb-4 text-left">
                <h4 class="align-left">
                    Permanent address on file with your county election office
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <font-awesome-icon v-on="on" v-bind="attrs" dark color="primary" :icon="['fa', 'info-circle']" />
                        </template>
                        <span>
                            This is the address at which you are registered OR the
                            mailing address you have given your county elections
                            office. Your ballot will be sent here unless you provide
                            a valid temporary address below.
                        </span>
                    </v-tooltip>
                </h4>
            </v-col>
            <v-layout row wrap>
                <v-col
                    :md="8"
                >
                    <v-text-field
                        class="px-3"
                        label="Street Address"
                        v-model="permanent.street_address"
                        required
                        :rules="[() => validateStr(permanent.street_address) || 'Required field']"
                    ></v-text-field>
                </v-col>
                <v-col
                    :md="2"
                >
                    <v-text-field
                        class="px-3"
                        label="City"
                        v-model="permanent.city"
                        required
                        :rules="[() => validateStr(permanent.city) || 'Required field']"
                    ></v-text-field>
                </v-col>
                <v-col
                    :md="2"
                >
                    <v-text-field
                        class="px-3"
                        label="Zip Code"
                        v-model="permanent.zip_code"
                        required
                        :rules="[() => validateStr(permanent.zip_code) || 'Required field']"
                    ></v-text-field>
                </v-col>
            </v-layout>
            <v-layout row wrap>
                <v-col
                    :md="8"
                >
                    <v-text-field
                        class="px-3"
                        label="County"
                        v-model="permanent.county"
                        required
                        :rules="[() => validateStr(permanent.county) || 'Required field']"
                    ></v-text-field>
                </v-col>
            </v-layout>
            <v-col class="text-left">
                <h4 class="align-left">
                    Temporary address where you want your ballot sent
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <font-awesome-icon v-on="on" v-bind="attrs" dark color="primary" :icon="['fa', 'info-circle']" />
                        </template>
                        <span>
                            If you wish to receive your absentee ballot at an address
                            other than the permanent address above, fill it in here. This
                            address must be in a different county than the county
                            listed in Section 2 unless you are physically disabled,
                            detained, or are updating your permanent address. 
                        </span>
                    </v-tooltip>
                </h4>
                <v-col 
                    :md="2"
                >
                    <v-switch
                        label="Use Temporary Address?"
                        v-model="has_temporary"
                        inset
                        color="accent"
                        @change="clearValidation"
                    >
                    </v-switch>
                </v-col>
            </v-col>
            <v-form ref="temporary_address_form">
                <v-layout row wrap>
                    <v-col 
                        :md="8"
                    >
                        <v-text-field
                            class="px-3"
                            label="Street Address"
                            :disabled="!has_temporary"
                            v-model="temporary.street_address"
                            :required="has_temporary"
                            :rules="[() => !has_temporary || validateStr(temporary.street_address) || 'Required field']"
                        ></v-text-field>
                    </v-col>
                    <v-col 
                        :md="2"
                    >
                        <v-text-field
                            class="px-3"
                            label="City"
                            :disabled="!has_temporary"
                            v-model="temporary.city"
                            :required="has_temporary"
                            :rules="[() => !has_temporary || validateStr(temporary.city) || 'Required field']"
                        ></v-text-field>
                    </v-col>
                    <v-col 
                        :md="2"
                    >
                        <v-text-field
                            class="px-3"
                            label="Zip Code"
                            :disabled="!has_temporary"
                            v-model="temporary.zip_code"
                            :required="has_temporary"
                            style="min-width: 0; width 20px;"
                            :rules="[() => !has_temporary || validateStr(temporary.zip_code) || 'Required field']"
                        ></v-text-field>
                    </v-col>
                </v-layout>
                <v-layout row wrap>
                    <v-col 
                        :md="8"
                    >
                        <v-text-field
                            class="px-3"
                            label="County"
                            :disabled="!has_temporary"
                            v-model="temporary.county"
                            :required="has_temporary"
                            :rules="[() => !has_temporary || validateStr(temporary.county) || 'Required field']"
                        ></v-text-field>
                    </v-col>
                </v-layout>
                <v-col 
                    :md="9"
                >
                    <v-checkbox
                        v-model="temporary.request_address_switch"
                        :label="address_switch_label"
                        :disabled="!has_temporary"                    
                    ></v-checkbox>
                </v-col>
            </v-form>
            <v-col class="text-left">
                <h4 class="align-left">
                    Misc.
                </h4>
            </v-col>
            <v-layout row wrap>
                <v-col
                    :md="6"
                >
                    <v-layout row wrap>
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value="toDate(birthday)"
                                    label="Birthday date"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                    required
                                    :rules="[() => validateStr(birthday) || 'Required field']"
                                ></v-text-field>
                            </template>
                            <v-date-picker
                            ref="picker"
                            v-model="birthday"
                            :max="new Date().toISOString().substr(0, 10)"
                            min="1920-01-01"
                            @change="save"
                            ></v-date-picker>
                        </v-menu>
                    </v-layout>
                    <v-radio-group row v-model="party" required label="Party Affiliation:">
                        <v-radio value="1" label="Democratic"></v-radio>
                        <v-radio value="2" label="Republican"></v-radio>
                        <v-radio value="3" label="Third Party"></v-radio>
                    </v-radio-group>
                </v-col>
                <v-col 
                        :md="6"
                >
                    <v-layout row wrap>
                        <v-text-field
                                class="px-3"
                                label="Phone Number"
                                v-model="phone_number"
                                required
                                :rules="[() => validateStr(phone_number) || 'Required field']"
                            ></v-text-field>
                    </v-layout>
                    <v-layout row wrap>
                        <v-text-field
                            class="px-3"
                            label="Email Address"
                            v-model="email_address"
                            required
                            :rules="[() => validateStr(email_address) || 'Required field']"
                        ></v-text-field>
                    </v-layout>
                </v-col>
            </v-layout>
            <v-layout row wrap>
                <v-col
                    :md="6"
                >
                    <v-radio-group row v-model="self_filled" required label="Are you:">
                        <v-radio value="true" label="The voter"></v-radio>
                        <v-radio value="false" label="Assisting the voter"></v-radio>
                    </v-radio-group>
                </v-col>
            </v-layout>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      first_name: null,
      middle_name: null,
      last_name: null,
      suffix: null,
      election_date: null,
      permanent: {},
      has_temporary: false,
      temporary: {},
      birthday: null,
      phone_number: null,
      email_address: null,
      menu: null,
      party: null,
      self_filled: null,
      address_switch_label: 'Check here if your permanent address has changed within your county and you want to update your permanent address with the temporary address you’ve provided.',
      election_dates: ['', 'November 3rd, 2020']
    }),
    watch: {
        menu (val) {
            val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
    },
    methods: {
        validateStr(s) {
            return s && s.length > 0
        },
        clearValidation() {
            this.$refs.temporary_address_form.reset()
        },
        save(date) {
            console.log(date);
            console.log(this.self_filled);
        },
        toDate(d) {
            // Given an iso format date, d, returns mm/dd/yyy format string
            if (!d) return null;
            var dt = new Date(d);
            var yr = Number(dt.getFullYear()).toString();
            var dy = Number(dt.getDate() + 1).toString();
            var mt = Number(dt.getMonth() + 1).toString();
            if (dy.length === 1) dy = '0' + dy;
            if (mt.length === 1) mt = '0' + mt;
            return mt + '/' + dy + '/' + yr;
        }
    },
  }
</script>
